h1{
    text-align: center;
    height: 20%;
    border: 2px solid;
}

body{
    background-color: darkcyan;
}
.body1{
    background-color: brown;
}
.body2{
    background-color:aqua
}
.body3{
    background-color: chartreuse;
}